body{
text-align: center;
}
#apps{
    width: 100%;
    height: 1300px;
    background-color:lightpink; 
    
}
#games{
    width: 100%;
    height: 800px;
    background-color:lightcyan; 
}
#chatbot{
    width: 100%;
    height: 800px;
    background-color:peachpuff;
}
img{
transition: transform 1s;
width: 300px
}
img:hover{
transform: scale(0.9)
}